*{
  font-family: sans-serif, Verdana;
}

h1{
  text-align: center;
}

img{
  height: 200px;
  width: auto;
  display: inline;
}

h3{
  font-size: 20px;
}

p, li {
  font-size: 16px;
}

h4{
  font-size: 18px;
}

.description-container, .description {
  display: inline-block;
  margin: 0px auto;
  width: 800px;
}

